:root {
  font-family: sans-serif;
}

:root {
  --bs-link-color: $link-color-global;
  --bs-link-color-hover: $link-color-global-hover;
}

a, .link {
  color: #20698F;
}
a :hover, .link :hover {
  color: #000000;
}

:root {
  --bb-h1-color: $page-title-h1-color;
  --bb-h2-color: $page-title-h2-color;
  --bb-h3-color: $page-title-h3-color;
}

* h1, .h1 {
  color: red;
}

* h2, .h1 {
  color: red;
}

* h3, .h1 {
  color: red;
}

@media (min-width: 1200px) {
  header#header nav#navbar-main {
    display: flex;
    flex-direction: column;
    background: white;
  }
  header#header nav#navbar-main .navbar-collapse {
    background: #35737A;
  }
  header#header nav#navbar-main .navbar-collapse ul.navbar-nav {
    display: flex;
    width: 100vw;
    margin-inline: 0px;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
  header#header nav#navbar-main .navbar-collapse ul.navbar-nav li.nav-item {
    list-style: none;
    margin-right: 2em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
  header#header nav#navbar-main .navbar-collapse ul.navbar-nav li.nav-item a {
    color: white;
    text-decoration: none;
    text-align: left;
  }
  header#header nav#navbar-main .navbar-collapse ul.navbar-nav li.nav-item a.nav-link--.is-active::before {
    display: none !important;
  }
  header#header nav#navbar-main .navbar-brand {
    width: 100vw;
    margin-inline: 0px;
    padding-inline: calc(100% - 1600px);
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  header#header nav.menu--main ul.clearfix.nav.navbar-nav.container {
    z-index: 999;
  }
  header#header nav.menu--main ul.clearfix.nav.navbar-nav.container * {
    z-index: 999;
  }
  header#header nav.menu--main ul.navbar-nav {
    position: relative;
  }
  header#header nav.menu--main ul.navbar-nav::before {
    height: 100%;
    width: 100vw;
    position: absolute;
    display: block;
    background: #35737A;
    content: "";
    font-size: 25px;
    z-index: 1;
  }
  header#header nav.menu--main ul.navbar-nav li.nav-item a.nav-link {
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
  }
  header#header nav.menu--main ul.navbar-nav li.nav-item:hover > a.nav-link, header#header nav.menu--main ul.navbar-nav li.nav-item a.nav-link:hover {
    border-bottom: 3px solid white !important;
  }
  header#header nav.menu--main ul.navbar-nav li.nav-item:first-of-type > a {
    padding-inline: 0px;
  }
  header#header nav.menu--main ul.navbar-nav .card-body.link-item-card-body > .link-item-card-body-title, header#header nav.menu--main ul.navbar-nav .card-body.link-item-card-body > .link-item-card-body-text {
    transition: all 0.15s ease-in-out;
  }
  header#header nav.menu--main ul.navbar-nav .card-body.link-item-card-body:hover > .link-item-card-body-title, header#header nav.menu--main ul.navbar-nav .card-body.link-item-card-body:hover > .link-item-card-body-text {
    color: #adadad !important;
  }
  header#header nav.menu--main ul.navbar-nav .card-body.link-item-card-body > .link-item-card-body-title:hover, header#header nav.menu--main ul.navbar-nav .card-body.link-item-card-body > .link-item-card-body-text:hover {
    color: white;
  }
  header#header nav.menu--main a.dropdown-toggle:hover + ul.dropdown-menu.link-item-card-container, header#header nav.menu--main ul.dropdown-menu.link-item-card-container:hover {
    display: block;
    transition-delay: display 0.8s ease-in-out;
    position: absolute;
    top: 43px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #35737A;
    padding-bottom: 20px;
    padding-top: 35px;
  }
  header#header nav.menu--main a.dropdown-toggle:hover + ul.dropdown-menu.link-item-card-container li.dropdown-item, header#header nav.menu--main ul.dropdown-menu.link-item-card-container:hover li.dropdown-item {
    flex-basis: 30%;
    padding-inline: 0px;
    padding-block: 0px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  header#header nav.menu--main a.dropdown-toggle:hover + ul.dropdown-menu.link-item-card-container li.dropdown-item .link-item-card, header#header nav.menu--main ul.dropdown-menu.link-item-card-container:hover li.dropdown-item .link-item-card {
    width: 100%;
    background: #35737A;
  }
  header#header nav.menu--main a.dropdown-toggle:hover + ul.dropdown-menu.link-item-card-container li.dropdown-item .link-item-card div.link-item-card-body, header#header nav.menu--main ul.dropdown-menu.link-item-card-container:hover li.dropdown-item .link-item-card div.link-item-card-body {
    color: white;
    padding-inline: 0px;
    padding-block: 0px;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) and (max-width: 1399px) {
  header#header nav.menu--main a.dropdown-toggle:hover + ul.dropdown-menu.link-item-card-container, header#header nav.menu--main ul.dropdown-menu.link-item-card-container:hover {
    left: calc((100vw - 1116px) / 2 * -1);
    padding-inline: calc((100vw - 1116px) / 2);
  }
}
@media (min-width: 1200px) and (min-width: 1400px) {
  header#header nav.menu--main a.dropdown-toggle:hover + ul.dropdown-menu.link-item-card-container, header#header nav.menu--main ul.dropdown-menu.link-item-card-container:hover {
    left: calc((100vw - 1296px) / 2 * -1);
    padding-inline: calc((100vw - 1296px) / 2);
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  header#header nav#navbar-main .navbar-brand {
    padding-inline: calc((100% - 1116px) / 2);
  }
}
@media (min-width: 1400px) {
  header#header nav#navbar-main .navbar-brand {
    padding-inline: calc((100% - 1296px) / 2);
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  header#header nav.menu--main ul.navbar-nav::before {
    left: calc((100vw - 1116px) / 2 * -1 + 12px);
  }
}
@media (min-width: 1400px) {
  header#header nav.menu--main ul.navbar-nav::before {
    left: calc((100vw - 1296px) / 2 * -1 + 12px);
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  button.navbar-toggler {
    right: calc((100vw - 934px) / 2);
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  button.navbar-toggler {
    right: calc((100vw - 694px) / 2);
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  button.navbar-toggler {
    right: calc((100vw - 514px) / 2);
  }
}
@media (max-width: 575px) {
  button.navbar-toggler {
    right: 12px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  header#header > nav#navbar-main > a.navbar-brand {
    left: calc((100vw - 934px) / 2);
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  header#header > nav#navbar-main > a.navbar-brand {
    left: calc((100vw - 694px) / 2);
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  header#header > nav#navbar-main > a.navbar-brand {
    left: calc((100vw - 514px) / 2);
  }
}
@media (max-width: 575px) {
  header#header > nav#navbar-main > a.navbar-brand {
    left: 12px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  header#header > nav#navbar-main ul.navbar-nav.container {
    width: 934px;
    left: calc((100vw - 934px) / 2 * 1);
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  header#header > nav#navbar-main ul.navbar-nav.container {
    width: 694px;
    left: calc((100vw - 694px) / 2 * 1);
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  header#header > nav#navbar-main ul.navbar-nav.container {
    width: 514px;
    left: calc((100vw - 514px) / 2 * 1);
  }
}
@media (max-width: 575px) {
  header#header > nav#navbar-main ul.navbar-nav.container {
    width: 100%;
    left: 12px;
  }
}
@media (max-width: 1199px) {
  header#header:has(div.navbar-collapse.collapse.show) + div#main-wrapper {
    display: none;
  }
  header#header:has(div.navbar-collapse.collapse.show) + div#main-wrapper + footer.site-footer {
    display: none;
  }
}
@media (max-width: 1199px) {
  header#header > nav#navbar-main {
    padding-top: 30px;
    padding-bottom: 20px;
    background: none;
  }
  header#header > nav#navbar-main a.navbar-brand {
    position: relative;
  }
  header#header > nav#navbar-main a.navbar-brand img {
    height: 90px;
    width: auto;
  }
  header#header > nav#navbar-main button.navbar-toggler {
    border-radius: 0px;
    border-color: transparent;
    position: relative;
    top: 20px;
    padding-inline: 0px;
  }
  header#header > nav#navbar-main button.navbar-toggler:focus {
    box-shadow: none;
  }
  header#header > nav#navbar-main button.navbar-toggler span.navbar-toggler-icon {
    height: 50px;
    width: 50px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%282, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  header#header > nav#navbar-main div.navbar-collapse ul.clearfix.nav.navbar-nav.container {
    position: relative;
    top: 0px;
    height: 100vh;
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 50px;
  }
  header#header > nav#navbar-main div.navbar-collapse ul.clearfix.nav.navbar-nav.container li.nav-item {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
  header#header > nav#navbar-main div.navbar-collapse ul.clearfix.nav.navbar-nav.container li.nav-item a.nav-link {
    color: black;
    transition: all 0.2s ease-in-out;
    width: fit-content;
    margin-inline: auto;
    border-bottom: 4px solid transparent;
  }
  header#header > nav#navbar-main div.navbar-collapse ul.clearfix.nav.navbar-nav.container li.nav-item a.nav-link.show {
    border-bottom: 4px solid black;
  }
  header#header > nav#navbar-main div.navbar-collapse ul.clearfix.nav.navbar-nav.container li.nav-item a.nav-link:hover {
    color: var(--bs-link-hover-color);
    border-bottom: 4px solid var(--bs-link-hover-color);
  }
  header#header > nav#navbar-main div.navbar-collapse ul.clearfix.nav.navbar-nav.container li.nav-item.dropdown {
    transition: all 0.2s ease-in-out;
  }
  header#header > nav#navbar-main div.navbar-collapse ul.clearfix.nav.navbar-nav.container li.nav-item.dropdown ul.dropdown-menu.link-item-card-container {
    transition: all 1s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  header#header > nav#navbar-main div.navbar-collapse ul.clearfix.nav.navbar-nav.container li.nav-item.dropdown ul.dropdown-menu.link-item-card-container li.dropdown-item:hover {
    background: transparent;
  }
  header#header > nav#navbar-main div.navbar-collapse ul.clearfix.nav.navbar-nav.container li.nav-item.dropdown ul.dropdown-menu.link-item-card-container li.dropdown-item:focus {
    background: transparent;
  }
  header#header > nav#navbar-main div.navbar-collapse ul.clearfix.nav.navbar-nav.container li.nav-item.dropdown ul.dropdown-menu.link-item-card-container li.dropdown-item a.card {
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }
  header#header > nav#navbar-main div.navbar-collapse ul.clearfix.nav.navbar-nav.container li.nav-item.dropdown ul.dropdown-menu.link-item-card-container li.dropdown-item a.card:hover div.card-body h6.card-title {
    color: var(--bs-link-hover-color);
  }
  header#header > nav#navbar-main div.navbar-collapse ul.clearfix.nav.navbar-nav.container li.nav-item.dropdown ul.dropdown-menu.link-item-card-container li.dropdown-item a.card div.card-body h6.card-title {
    font-size: 0.8rem;
    text-align: center;
    color: black;
  }
  header#header > nav#navbar-main div.navbar-collapse ul.clearfix.nav.navbar-nav.container li.nav-item.dropdown ul.dropdown-menu.link-item-card-container li.dropdown-item a.card div.card-body p.card-text {
    display: none;
  }
}
@media (max-width: 575px) {
  header#header > nav#navbar-main {
    display: flex;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
  }
  header#header > nav#navbar-main a.navbar-brand {
    display: inline-block;
    position: block;
    left: 0px;
    flex-basis: calc(100% - 50px - 20px);
    flex-shrink: 1;
  }
  header#header > nav#navbar-main a.navbar-brand img {
    height: auto;
  }
  header#header > nav#navbar-main > button.navbar-toggler {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 50px;
    display: inline-block;
    left: 0px;
    right: 0px;
    top: 0px;
  }
}
div#block-igis-searchform {
  height: 0px;
  overflow: hidden;
  transition: height 0.2s ease-in-out;
}

div#block-igis-searchform.show {
  height: 70px;
  transition: height 0.2s ease-in-out;
}

header#header nav#navbar-main .collapse.navbar-collapse.justify-content-end {
  flex-direction: column;
}

header#header nav#navbar-main .collapse.navbar-collapse.justify-content-end > .form-inline.navbar-form.justify-content-end {
  width: 100%;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  div#block-igis-searchform::before {
    left: calc((100vw - 1116px) / 2 * -1 + 24px);
  }
}
@media (min-width: 1400px) {
  div#block-igis-searchform::before {
    left: calc((100vw - 1296px) / 2 * -1 + 24px);
  }
}
div#block-igis-searchform {
  width: 100%;
}
div#block-igis-searchform::before {
  height: 100%;
  width: 100vw;
  position: absolute;
  display: block;
  background: #255256;
  content: "";
  font-size: 25px;
  z-index: 1;
}
div#block-igis-searchform .content.container-inline {
  width: 100%;
}
div#block-igis-searchform form#search-block-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
div#block-igis-searchform form#search-block-form div.form-type-search {
  flex-grow: 1;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-right: 15px;
  z-index: 3;
}
div#block-igis-searchform form#search-block-form div.form-type-search input {
  border-radius: 0px;
  border: 1px solid #ced4da;
  transition: all 0.2s ease-in-out;
}
div#block-igis-searchform form#search-block-form div.form-type-search input:focus {
  background: #ced4da;
  border: 1px solid black;
}
div#block-igis-searchform form#search-block-form div.form-actions {
  flex-basis: 100px;
  flex-grow: 0;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-right: 15px;
  z-index: 3;
}
div#block-igis-searchform form#search-block-form div.form-actions input {
  border-radius: 0px;
  position: absolute;
  width: 90px;
  top: 15px;
  transition: all 0.2s ease-in-out;
  background: white;
  color: black;
  border: 1px solid #ced4da;
}
div#block-igis-searchform form#search-block-form div.form-actions input:hover {
  border: 1px solid black;
  background: #ced4da;
}

@media (max-width: 1199px) {
  #block-igis-searchform {
    position: absolute;
    top: 140px;
  }
  #block-igis-main-navigation {
    margin-top: 60px;
  }
}
footer.site-footer {
  background: #35737A;
  padding-block: 1em;
}
footer.site-footer div.container {
  width: 1600px;
  margin-inline: auto;
}
footer.site-footer div.container div.site-footer__top {
  display: flex;
}
footer.site-footer div.container div.site-footer__top section {
  flex-grow: 1;
  margin-right: 50px;
}
footer.site-footer div.container div.site-footer__top section div.block {
  border: none;
  padding-block: none;
}
footer.site-footer div.container div.site-footer__top section div.block li {
  list-style: disc;
  color: #BDBCBD;
}
footer.site-footer div.container div.site-footer__top section div.block li a {
  text-decoration: underline 1px;
  color: #BDBCBD;
}
footer.site-footer div.container div.site-footer__top section div#block-igis-footeracknoledgement {
  margin-block: 0px;
  padding-block: 0px;
  width: 50%;
}
footer.site-footer div.container div.site-footer__top section div#block-igis-footeracknoledgement a {
  margin-right: 10px;
}

.path-frontpage h1.title {
  display: none;
}

.path-frontpage ol.breadcrumb {
  display: none;
}

* {
  --sidebar-default-background: white;
  --sidebar-hover-background: #35737A;
  --sidebar-default-foreground: black;
  --sidebar-hover-foreground: white;
}

div#sidebar_first > aside > nav { /* border: 5px solid #ee0303 !important;*/
  margin-bottom: 0px;
  padding: 0px;
}

div#sidebar_first > aside > nav > h2 {
  display: none;
}

div#sidebar_first > aside > nav > ul.nav {
  position: relative;
  border: 7px solid #27555a;
}

div#sidebar_first > aside > nav > ul.nav > li {
  flex-grow: 1;
}

div#sidebar_first > aside > nav > ul.nav > li > a {
  background: var(--sidebar-default-background);
  color: var(--sidebar-default-foreground);
}

div#sidebar_first > aside > nav > ul.nav > li > a:hover {
  background: var(--sidebar-hover-background);
  color: var(--sidebar-hover-foreground);
}

div#sidebar_first > aside > nav > ul.nav > li ul.menu > li {
  padding-left: 0px;
}

div#sidebar_first > aside > nav > ul.nav > li ul.menu > li::marker {
  content: "";
}

div#sidebar_first > aside > nav > ul.nav > li ul.menu > li > a {
  background: var(--sidebar-default-background);
  color: var(--sidebar-default-foreground);
}

div#sidebar_first > aside > nav > ul.nav > li ul.menu > li > a:hover {
  background: var(--sidebar-hover-background);
  color: var(--sidebar-hover-foreground);
}

div#sidebar_first > aside > nav > ul.nav > li ul.menu {
  background: var(--sidebar-default-background);
}

.layout-two-column .card {
  height: 100%;
}
.layout-two-column .card .card-body img {
  width: 100%;
}
.layout-two-column .card.mode-text-above-image .card-body {
  height: fit-content;
  min-height: fit-content;
}
.layout-two-column .card.mode-text-above-image .card-body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.layout-two-column .card.mode-text-above-image .card-body div.card-img-overlay {
  height: fit-content;
  min-height: 100%;
  z-index: 999;
}

@media (max-width: 960px) {
  .paragraph--type--layout-two-column .layout-two-column-left {
    margin-bottom: 20px;
  }
}
.paragraph--type--layout-two-column .mode-text-above-image .card-body img.img-fluid {
  filter: blur(3px);
}

.paragraph--type--layout-two-column .card-text-above-image {
  padding: 20px;
}

.image-under-text {
  position: relative;
}
.image-under-text .image {
  /* position: absolute; */
  top: 0px;
  left: 0px;
  height: 400px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.image-under-text .text {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-inline: 30px;
  padding-block: 30px;
  height: 400px;
  overflow: scroll;
  scrollbar-width: none;
  /* Hide the default scrollbar for Firefox */
  -ms-overflow-style: none;
  /* Hide the default scrollbar for Internet Explorer and Edge */
}
.image-under-text .card-img-overlay {
  position: relative;
  padding-inline: 30px;
  padding-block: 30px;
}
.image-under-text .card-img-overlay {
  overflow: hidden;
  color: black;
}

.image-above-text .text {
  padding-inline: 10px;
  padding-block: 30px;
}

.color-under-text {
  padding-inline: 30px;
  padding-block: 30px;
  background: var(--bs-primary);
  color: black;
}

.paragraph-single-column-parallax {
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.paragraph--type--layout-single-column .card-img-overlay {
  backdrop-filter: blur(2px);
}

.paragraph-single-column-parallax .card-img-overlay {
  position: relative;
}

.paragraph-single-column-layout-container.image-under-text .card-img-overlay {
  height: fit-content;
}

.paragraph--type--layout-page-list div.item-body {
  overflow: hidden;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 20px auto;
}

.paragraph--type--layout-page-list .list-group-item > list-inline > .item-heading > h3, h4, h5 {
  text-decoration: underline;
}

.paragraph--type--layout-page-list .list-group-item {
  background: white;
  color: black;
  animation: page-list-color-non-hover ease-in-out 0.25s;
}

.paragraph--type--layout-page-list .list-group-item:hover {
  background: #35737A;
  color: white;
  animation: page-list-color-hover ease-in-out 0.25s;
}

@keyframes page-list-color-hover {
  0% {
    background: white;
    color: black;
  }
  100% {
    background: #35737A;
    color: white;
  }
}
@keyframes page-list-color-non-hover {
  100% {
    background: white;
    color: black;
  }
  0% {
    background: #35737A;
    color: white;
  }
}
.paragraph--type--banner-group .carousel-control-prev, .paragraph--type--banner-group .carousel-control-next {
  display: none;
  width: 5%;
}
.paragraph--type--banner-group .carousel-indicators {
  margin-bottom: 0px;
}
.paragraph--type--banner-group .carousel-indicators button[data-bs-target] {
  width: 7px;
  height: 7px;
  border-radius: 7px;
  border: 0px;
  margin-bottom: 10px;
}
.paragraph--type--banner-group .carousel-inner .carousel-item .background-layer {
  padding-inline: 100px;
  padding-block: 30px;
  background: var(--bs-primary);
  color: var(--bb-primary-text);
  margin-inline: 0px;
  padding-inline: 30px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.paragraph--type--banner-group .carousel-inner .carousel-item .background-layer .container.col-lg-7 {
  margin-inline: 0px;
}
.paragraph--type--banner-group .carousel-inner .carousel-item .background-layer .container {
  height: 100%;
  padding: 0px;
  background: white;
  color: black;
}
.paragraph--type--banner-group .carousel-inner .carousel-item .background-layer .container .banner-title {
  padding-top: 30px;
  text-align: center;
}
.paragraph--type--banner-group .carousel-inner .carousel-item .background-layer .container .banner-body {
  overflow: hidden;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  margin: 20px auto;
  padding-inline: 20px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* for Webkit-based browsers like Chrome and Safari */
  -webkit-box-orient: vertical;
}

@media (max-width: 991px) {
  .paragraph--type--banner-group .carousel-indicators button {
    margin-bottom: 10px !important;
  }
  .paragraph--type--banner-group .carousel-inner .carousel-item .background-layer {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-inline: 10px;
  }
  .paragraph--type--banner-group .carousel-inner .carousel-item .background-layer .container {
    background: unset;
  }
}
.accordion-item:not(:has(.show)) > h2.accordion-header > .accordion-button {
  background: var(--accordion-color-collapsed, #35737a);
  color: #fff;
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
}

.accordion-item:has(.show) > h2.accordion-header > .accordion-button {
  background: var(--accordion-color-expanded, #153243);
  color: #fff;
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
}

.accordion-item > h2.accordion-header > .accordion-button:hover {
  background: var(--accordion-color-hover, #284B63);
  color: #fff;
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
}

h2.accordion-header > .accordion-button::after {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.accordion-item {
  border: 1px solid #2e6268;
  border-right: 2px solid #2e6268;
  border-bottom: 2px solid #2e6268;
  margin-bottom: 0.25em;
}

.accordion-item > div.accordion-collapse {
  -webkit-transition-duration: var(--accordion-animation-time, 0.34s) !important;
  transition-duration: var(--accordion-animation-time, 0.34s) !important;
}

.accordion-item > div.accordion-collapse.show {
  -webkit-transition-duration: var(--accordion-animation-time, 0.34s) !important;
  transition-duration: var(--accordion-animation-time, 0.34s) !important;
}

span.file {
  background-position: 5px calc(35% + 2px);
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 5px;
  margin-bottom: 5px;
}
span.file div.file-link a {
  transition: color ease-in-out 0.25s;
}
span.file div.file-link {
  height: 100%;
}
span.file div.file-type {
  height: 100%;
}
span.file div.file-size {
  height: 100%;
}
span.file div.file-type-size {
  width: 200px;
}

.paragraph.paragraph--type--attachment-file.file {
  border-radius: var(--bs-border-radius);
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  transition: background 0.25s ease-in-out;
  min-height: 12px;
}

.paragraph.paragraph--type--attachment-file.file:hover {
  background: var(--bs-primary);
}

.d-inline-block.text-truncate {
  color: var(--bs-body-color);
  transition: color 0.25s ease-in-out;
}

.paragraph.paragraph--type--attachment-file.file:hover .d-inline-block.text-truncate {
  color: white !important;
}

.paragraph--type--attachment-file {
  width: 100%;
}

.paragraph-file-attachment-link > a > span.file {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 6px;
}

.paragraph-file-attachment-link > a > span.file div.file-type-size {
  flex-grow: 1;
  text-align: right;
  align-self: flex-end;
  justify-self: flex-end;
}

.paragraph-file-attachment-link-item > a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .paragraph-file-attachment-link > a > span.file div.file-type-size {
    display: none !important;
  }
  .paragraph-file-attachment-link > a > span.file div.file-link {
    text-align: left;
    flex-grow: 1;
  }
}
.paragraph.paragraph--type--attachment-file.paragraph--view-mode--default.file:not(:hover) {
  background: #e8e8e8;
}

.paragraph--type--read-more .read-more-summary {
  font-size: 14px;
  line-height: 1.5;
}
.paragraph--type--read-more .read-more-summary div.collapse:not(.show) {
  line-height: 1.5;
  height: calc(var(--read-moreshow-lines) * 1.5em) !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: var(--read-moreshow-lines);
  -webkit-box-orient: vertical;
}
.paragraph--type--read-more .read-more-summary div.collapsing {
  line-height: 1.5;
  min-height: calc(var(--read-moreshow-lines) * 1.5em) !important;
}
.paragraph--type--read-more .read-more-summary a.collapsed:after {
  content: "+ Read More";
}
.paragraph--type--read-more .read-more-summary a:not(.collapsed):after {
  content: "- Read Less";
}

.read-more-summary {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.read-more-summary a {
  margin-top: 10px;
  text-align: right;
  color: white;
  background: var(--bs-link-color);
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-link-color);
  border-radius: var(--bs-border-radius);
  padding-block: 5px;
  padding-inline: 10px;
  width: fit-content;
  text-decoration: none;
}

.read-more-summary a:hover {
  color: white;
  background: var(--bs-link-hover-color);
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-link-hover-color);
}

.read-more-summary .collapse.show + .fade-overlay {
  height: 0px;
  margin-top: 0px;
}

.read-more-summary .collapse:not(.show) + .fade-overlay, .read-more-summary .collapsing + .fade-overlay {
  height: 60px;
  margin-top: -60px;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent, white);
  transition: height 0.2s ease-in-out, margin-top 0.2s ease-in-out;
}

@media (min-width: 992px) {
  .paragraph--type--three-column-cards.desktop {
    display: block;
  }
  .paragraph--type--three-column-cards.mobile {
    display: none;
  }
}
@media (max-width: 991px) {
  .paragraph--type--three-column-cards.desktop {
    display: none;
  }
  .paragraph--type--three-column-cards.mobile {
    display: block;
  }
}
.paragraph--type--three-column-cards.desktop .cards-background-backdrop {
  background: var(--three_column_cards_bgbg);
}

.paragraph--type--three-column-cards.desktop .cards-columns-container .cards-column-1 .card {
  background: var(--three_column_cards_bg1);
}

.paragraph--type--three-column-cards.desktop .cards-columns-container .cards-column-2 .card {
  background: var(--three_column_cards_bg2);
}

.paragraph--type--three-column-cards.desktop .cards-columns-container .cards-column-3 .card {
  background: var(--three_column_cards_bg3);
}

.paragraph--type--three-column-cards.desktop {
  padding-left: 0px;
  padding-right: 0px;
}
.paragraph--type--three-column-cards.desktop .cards-columns-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.paragraph--type--three-column-cards.desktop .cards-columns-container .cards-column-1 {
  padding-left: 0px;
  padding-right: 0px;
}
.paragraph--type--three-column-cards.desktop .cards-columns-container .cards-column-2 {
  padding-left: 16px;
  padding-right: 16px;
}
.paragraph--type--three-column-cards.desktop .cards-columns-container .cards-column-3 {
  padding-left: 0px;
  padding-right: 0px;
}
.paragraph--type--three-column-cards.desktop .cards-columns-container .cards-column .card {
  border-radius: 3px;
  border: none;
  height: 100%;
}
.paragraph--type--three-column-cards.desktop .cards-columns-container .cards-column .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.paragraph--type--three-column-cards.desktop .cards-columns-container .cards-column .card .card-text {
  flex-grow: 1;
  margin-bottom: 20px;
}
.paragraph--type--three-column-cards.desktop .cards-columns-container .cards-column .card .card-link {
  flex-grow: 0;
  border-radius: 3px;
  background: var(--bs-link-color);
  border: 1px solid var(--bs-link-color);
  transition: border 0.1s ease-in-out, background 0.1s ease-in-out;
}
.paragraph--type--three-column-cards.desktop .cards-columns-container .cards-column .card .card-link:hover {
  background: var(--bs-link-hover-color);
  border: 1px solid var(--bs-link-hover-color);
}

.row.cards-columns-container {
  background: var(--three_column_cards_bgbg);
  padding-left: calc((50% - 50vw) * -1);
  margin-left: calc((50% - 50vw) * 1);
  padding-right: calc((50% - 50vw) * -1);
  margin-right: calc((50% - 50vw) * 1);
}

.paragraph--type--three-column-cards.mobile .carousel-inner-1.carousel-item .card {
  background: var(--three_column_cards_bg1);
}

.paragraph--type--three-column-cards.mobile .carousel-inner-2.carousel-item .card {
  background: var(--three_column_cards_bg2);
}

.paragraph--type--three-column-cards.mobile .carousel-inner-3.carousel-item .card {
  background: var(--three_column_cards_bg3);
}

.paragraph--type--three-column-cards.mobile .carousel-item .card {
  border-radius: 3px;
  border: none;
  padding-inline: 30px;
  padding-block: 10px;
}
.paragraph--type--three-column-cards.mobile .card-link {
  border-radius: 3px;
  background: var(--bs-link-color);
  border: 1px solid var(--bs-link-color);
  transition: border 0.1s ease-in-out, background 0.1s ease-in-out;
}
.paragraph--type--three-column-cards.mobile .card-link:hover {
  background: var(--bs-link-hover-color);
  border: 1px solid var(--bs-link-hover-color);
}
.paragraph--type--three-column-cards.mobile .carousel-item .card {
  display: flex;
  flex-direction: column;
}
.paragraph--type--three-column-cards.mobile .carousel-item .card .card-text {
  line-height: 1.5em;
  height: 4.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* for Webkit-based browsers like Chrome and Safari */
  -webkit-box-orient: vertical;
}

@media (min-width: 992px) {
  .paragraph--type--two-column-cards.desktop {
    display: block;
  }
  .paragraph--type--two-column-cards.mobile {
    display: none;
  }
}
@media (max-width: 991px) {
  .paragraph--type--two-column-cards.desktop {
    display: none;
  }
  .paragraph--type--two-column-cards.mobile {
    display: block;
  }
}
.paragraph--type--two-column-cards.desktop .cards-background-backdrop {
  background: var(--three_column_cards_bgbg);
}

.paragraph--type--two-column-cards.desktop .cards-columns-container .cards-column-1 .card {
  background: var(--three_column_cards_bg1);
}

.paragraph--type--two-column-cards.desktop .cards-columns-container .cards-column-2 .card {
  background: var(--three_column_cards_bg2);
}

.paragraph--type--two-column-cards.desktop .cards-columns-container .cards-column-3 .card {
  background: var(--three_column_cards_bg3);
}

.paragraph--type--two-column-cards.desktop {
  padding-left: 0px;
  padding-right: 0px;
}
.paragraph--type--two-column-cards.desktop .cards-columns-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.paragraph--type--two-column-cards.desktop .cards-columns-container .cards-column-1 {
  padding-left: 0px;
  padding-right: 8px;
}
.paragraph--type--two-column-cards.desktop .cards-columns-container .cards-column-2 {
  padding-left: 8px;
  padding-right: 0px;
}
.paragraph--type--two-column-cards.desktop .cards-columns-container .cards-column .card {
  border-radius: 3px;
  border: none;
  height: 100%;
}
.paragraph--type--two-column-cards.desktop .cards-columns-container .cards-column .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.paragraph--type--two-column-cards.desktop .cards-columns-container .cards-column .card .card-text {
  flex-grow: 1;
  margin-bottom: 20px;
}
.paragraph--type--two-column-cards.desktop .cards-columns-container .cards-column .card .card-link {
  flex-grow: 0;
  border-radius: 3px;
  background: var(--bs-link-color);
  border: 1px solid var(--bs-link-color);
  transition: border 0.1s ease-in-out, background 0.1s ease-in-out;
}
.paragraph--type--two-column-cards.desktop .cards-columns-container .cards-column .card .card-link:hover {
  background: var(--bs-link-hover-color);
  border: 1px solid var(--bs-link-hover-color);
}

.row.cards-columns-container {
  background: var(--three_column_cards_bgbg);
  padding-left: calc((50% - 50vw) * -1);
  margin-left: calc((50% - 50vw) * 1);
  padding-right: calc((50% - 50vw) * -1);
  margin-right: calc((50% - 50vw) * 1);
}

.paragraph--type--two-column-cards.mobile .carousel-inner-1.carousel-item .card {
  background: var(--three_column_cards_bg1);
}

.paragraph--type--two-column-cards.mobile .carousel-inner-2.carousel-item .card {
  background: var(--three_column_cards_bg2);
}

.paragraph--type--two-column-cards.mobile .carousel-inner-3.carousel-item .card {
  background: var(--three_column_cards_bg3);
}

.paragraph--type--two-column-cards.mobile .carousel-item .card {
  border-radius: 3px;
  border: none;
  padding-inline: 30px;
  padding-block: 10px;
}
.paragraph--type--two-column-cards.mobile .card-link {
  border-radius: 3px;
  background: var(--bs-link-color);
  border: 1px solid var(--bs-link-color);
  transition: border 0.1s ease-in-out, background 0.1s ease-in-out;
}
.paragraph--type--two-column-cards.mobile .card-link:hover {
  background: var(--bs-link-hover-color);
  border: 1px solid var(--bs-link-hover-color);
}
.paragraph--type--two-column-cards.mobile .carousel-item .card {
  display: flex;
  flex-direction: column;
}
.paragraph--type--two-column-cards.mobile .carousel-item .card .card-text {
  line-height: 1.5em;
  height: 4.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* for Webkit-based browsers like Chrome and Safari */
  -webkit-box-orient: vertical;
}

/* The icon */
.popup-tooltip {
  text-align: center;
  border: 2px solid #444;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 17px;
  cursor: default;
}

.popup-tooltip.popup-tooltip-information:before {
  content: "i";
  font-family: sans-serif;
  font-weight: normal;
  color: #444;
}

.popup-tooltip.popup-tooltip-question:before {
  content: "?";
  font-family: sans-serif;
  font-weight: normal;
  color: #444;
}

.popup-tooltip:hover p {
  display: block;
  transform-origin: 100% 0%;
  -webkit-animation: fadeIn 0.3s ease;
  animation: fadeIn 0.3s ease;
}

/* The tooltip */
.popup-tooltip p {
  display: none;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background-color: #FFFFFF;
  padding: 12px 16px;
  width: 178px;
  height: auto;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
  border-radius: 3px;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
  color: #37393D;
  font-size: 12px;
  line-height: 18px;
  z-index: 99;
}

.popup-tooltip p a {
  color: #067df7;
  text-decoration: none;
}

.popup-tooltip p a:hover {
  text-decoration: underline;
}

/* The pointer of the tooltip */
.popup-tooltip p:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #FFFFFF;
  top: -9px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Prevents the tooltip from being hidden */
.popup-tooltip p:after {
  width: 10px;
  height: 40px;
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
}

/* CSS animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.popup-tooltip {
  margin-bottom: 10px !important;
}

@media (max-width: 991px) {
  .popup-tooltip p {
    transform: translate(0%, 0%);
  }
  .popup-tooltip p:before {
    display: none;
  }
}
/** @format */
.popup-container {
  border: 5px solid black !important;
  padding: 10px;
  border-radius: 10px;
  --popout-closed-height: auto;
  --popout-closed-width: 100%;
  max-width: 100%;
  width: var(--popout-closed-width);
  height: var(--popout-closed-height);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.popup-container > button.btn-popup-trigger {
  flex-grow: 0;
  margin-bottom: 10px;
  width: min-content;
  align-self: flex-end;
}

.model-body-content-paragraph {
  /* margin-bottom: 20px; */
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
}

.model-body-content-ckeditor {
  /* margin-bottom: 20px; */
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
}

.modal-dialog {
  width: 80%;
  max-width: 80%;
}

button.btn.btn-popup-trigger {
  color: white;
  background: black;
  border: 1px solid black;
  position: absolute;
  z-index: 3;
  font-size: 20px;
  padding-inline: 8px;
  padding-block: 0px;
  margin-right: -11px;
  margin-top: -11px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.popup-container table th,
td {
  white-space: nowrap;
}

.popup-container .modal-dialog .model-body-content-ckeditor {
  overflow-x: scroll;
}

.popup-container .model-body-content-ckeditor .clearfix.text-formatted > p > img {
  margin-right: 20px !important;
}

.popup-container .model-body-content-paragraph {
  height: 150px;
}

.popup-container .modal-header {
  border-bottom: none;
  margin-bottom: -49.126px;
  z-index: 999;
}

.popup-container .modal-body {
  padding-inline: 50px;
  padding-block: 40px;
}

.popup-container .modal-dialog {
  margin-top: 30px;
  margin-bottom: 70px;
}

.popup-container .modal-dialog .modal-content {
  min-height: calc(100vh - 100px);
}

div.popup-container button.btn.btn-popup-trigger {
  border-radius: 5px;
  margin-right: -15px;
  margin-top: -15px;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

div.popup-container button.btn.btn-popup-trigger:hover {
  background: var(--bs-link-hover-color);
  border-color: var(--bs-link-hover-color);
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);
}

div.popup-container {
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-radius: 5px;
}

div.popup-container:has(button.btn.btn-popup-trigger:hover) {
  border-color: var(--bs-link-hover-color) !important;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.2);
}

.popup-container .model-body-content-paragraph {
  transition: filter 0.2s ease-in-out;
}

.modal-body {
  overflow-x: scroll;
}

/*# sourceMappingURL=style.css.map */
