$header-nav-background:        #35737A;
$header-nav-search-background: #255256;
$header-nav-foreground:        white;

$footer-background:        #35737A;
$footer-foreground:        #BDBCBD;
$site-footer-background:   #414042;

$link-color-global:        #20698F;
$link-color-global-hover:  #000000;

$page-title-h1-color:      red;
$page-title-h2-color:      red;
$page-title-h3-color:      red;
