$header-nav-background:    #35737A;
$header-nav-foreground:    #FFF;
$footer-background:        #35737A;
$footer-foreground:        #BDBCBD;
$link-color-global:        #20698F;
$link-color-global-hover:  #000000;
$page-title-h1-color:      red;
$page-title-h2-color:      red;
$page-title-h3-color:      red;
