// The main header container
nav#navbar-main {

    display: flex;
    flex-direction: column;
    background: white;

    // The main logo below the navigation bar
    .navbar-brand{
        width: 100vw;
        margin-inline: 0px;
        padding-inline: calc(100% - $page-hori-width);
        margin-bottom: 10px;
    }

    // The main navigation bar below the logo
    div.navbar-collapse {
        background: $header-nav-background;
        ul.navbar-nav {
            display: flex;
            padding-block: $header-vert-margin;
            width: 100vw;
            margin-inline: 0px;
            padding-inline: calc(100% - $page-hori-width);
            li.nav-item {
                list-style: none;
                margin-right: $header-hori-margin;

                a{
                    color: $header-nav-foreground;
                    text-decoration: none;
                    text-align: left;
                }

                a.nav-link--.is-active::before {
                    display: none !important;
                }
            }
        }
    }
}