// ███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████
// Desktop Menu (≥1200px)
@media (min-width:1200px){
    nav#navbar-main {
        display: flex;
        flex-direction: column;
        background: white;
        // The main navigation bar below the logo
        .navbar-collapse {
            background: $header-nav-background;
            ul.navbar-nav {
                display: flex;
                width: 100vw;
                margin-inline: 0px;
                padding-left:  calc(var(--bs-gutter-x) * .5);
                padding-right: calc(var(--bs-gutter-x) * .5);
                li.nav-item {
                    list-style: none;
                    margin-right:  $header-hori-margin;
                    margin-top:    $header-vert-margin;
                    margin-bottom: $header-vert-margin;
                    a{
                        color: $header-nav-foreground;
                        text-decoration: none;
                        text-align: left;
                    }
                    a.nav-link--.is-active::before {
                        display: none !important;
                    }
                }
            }
        }
        // The main logo below the navigation bar
        .navbar-brand{
            width: 100vw;
            margin-inline: 0px;
            padding-inline: calc(100% - $page-hori-width);
            margin-bottom: 10px;
        }
    }
}
@media (min-width:1200px){
    nav.menu--main {
        ul.clearfix.nav.navbar-nav.container   { z-index: 999; }
        ul.clearfix.nav.navbar-nav.container * { z-index: 999; }
        ul.navbar-nav {
            &::before {
                height: 100%;
                width:  100vw;
                position: absolute;
                display: block;
                background: #35737A;
                content: "";
                font-size: 25px;
                z-index: 1;
            }
            position: relative;
            li.nav-item{
                a.nav-link {
                    transition: all 0.2s ease-in-out;
                    box-sizing: border-box;
                    border-bottom:   3px solid transparent;
                }
                &:hover > a.nav-link {
                    border-bottom:   3px solid white !important;
                }
                &:first-of-type > a{
                    padding-inline: 0px;
                }
            }
            .card-body.link-item-card-body > .link-item-card-body-title, .card-body.link-item-card-body > .link-item-card-body-text {
                transition: all 0.15s ease-in-out;
            }
            .card-body.link-item-card-body:hover > .link-item-card-body-title, .card-body.link-item-card-body:hover > .link-item-card-body-text {
                color: #adadad !important;
            }
            .card-body.link-item-card-body > .link-item-card-body-title:hover, .card-body.link-item-card-body > .link-item-card-body-text:hover {
                color: white;
            }
        }
        ul.dropdown-menu.link-item-card-container{
            &.show {
                position: absolute;
                top: 40px;
                width: 100vw;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;
                background: #35737A;
                padding-bottom: 20px;
                padding-top:    35px;
                li.dropdown-item{
                    flex-basis:     30%;
                    padding-inline: 0px;
                    padding-block:  0px;
                    margin-right: 30px;
                    margin-bottom: 30px;
                    .link-item-card{
                        width: 100%;
                        background: #35737A;
                        div.link-item-card-body{
                            color: white;
                            padding-inline: 0px;
                            padding-block:  0px;
                        }
                    }
                }
            }
            @media (min-width:1200px) and (max-width:1399px) { &.show{ left:calc( (100vw - 1116px) / 2 * (-1)); padding-inline:calc( (100vw - 1116px) / 2); }}
            @media (min-width:1400px) {                        &.show{ left:calc( (100vw - 1296px) / 2 * (-1)); padding-inline:calc( (100vw - 1296px) / 2); }}
        }
    }
}
@media (min-width:1200px) and (max-width:1399px) {nav#navbar-main .navbar-brand{ padding-inline:calc( (100% - 1116px) / 2); }}
@media (min-width:1400px) {                       nav#navbar-main .navbar-brand{ padding-inline:calc( (100% - 1296px) / 2); }}
@media (min-width:1200px) and (max-width:1399px) { nav.menu--main ul.navbar-nav::before{ left:calc( (100vw - 1116px) / 2 * (-1)  + 12px);}}
@media (min-width:1400px) {                        nav.menu--main ul.navbar-nav::before{ left:calc( (100vw - 1296px) / 2 * (-1)  + 12px);}}




// ███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████
// Mobile menu (≥576px)
@media (max-width:  1199px)  and (min-width: 992px)  { button.navbar-toggler {right: calc((100vw - 934px) / 2);} }
@media (max-width:   991px)  and (min-width: 768px)  { button.navbar-toggler {right: calc((100vw - 694px) / 2);} }
@media (max-width:   767px)  and (min-width: 576px)  { button.navbar-toggler {right: calc((100vw - 514px) / 2);} }
@media (max-width:   575px)                          { button.navbar-toggler {right: 12px;}                      }
@media (max-width:  1199px)  and (min-width: 992px)  { header#header > nav#navbar-main > a.navbar-brand {left: calc((100vw - 934px) / 2);} }
@media (max-width:   991px)  and (min-width: 768px)  { header#header > nav#navbar-main > a.navbar-brand {left: calc((100vw - 694px) / 2);} }
@media (max-width:   767px)  and (min-width: 576px)  { header#header > nav#navbar-main > a.navbar-brand {left: calc((100vw - 514px) / 2);} }
@media (max-width:   575px)                          { header#header > nav#navbar-main > a.navbar-brand {left: 12px;}                      }
@media (max-width:  1199px)  and (min-width: 992px)  { header#header > nav#navbar-main ul.navbar-nav.container {width: 934px; left: calc( (100vw - 934px) / 2 * (+1));} }
@media (max-width:   991px)  and (min-width: 768px)  { header#header > nav#navbar-main ul.navbar-nav.container {width: 694px; left: calc( (100vw - 694px) / 2 * (+1));} }
@media (max-width:   767px)  and (min-width: 576px)  { header#header > nav#navbar-main ul.navbar-nav.container {width: 514px; left: calc( (100vw - 514px) / 2 * (+1));} }
@media (max-width:   575px)                          { header#header > nav#navbar-main ul.navbar-nav.container {width: 100%;  left: 12px;}                              }
@media (max-width:  1199px) {
    // Hide page content and footer, when the menu gets expanded
    header#header:has(div.navbar-collapse.collapse.show) + div#main-wrapper {
        display: none;
    }
    // Hide page content and footer, when the menu gets expanded
    header#header:has(div.navbar-collapse.collapse.show) + div#main-wrapper + footer.site-footer {
        display: none;
    }
}
@media (max-width:  1199px) {
    header#header > nav#navbar-main{
        padding-top: 30px;
        padding-bottom: 20px;
        background: none;
        // Logo act as a link
        a.navbar-brand{
            position: relative;
            img{ height: 90px; width:  auto;}
        }
        // Toggler button
        button.navbar-toggler {
            border-radius: 0px;
            border-color: transparent;
            position: relative;
            top: 20px;
            padding-inline: 0px;
            &:focus{ box-shadow: none; }
            span.navbar-toggler-icon {
                height: 50px;
                width:  50px;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%282, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }
        }
    }
    header#header > nav#navbar-main div.navbar-collapse {
        ul.clearfix.nav.navbar-nav.container {
            position: relative;
            top: 0px;
            height: 100vh;
            padding: 0px;
            margin-right: 0px;
            margin-left: 0px;
            padding-top: 50px;
            li.nav-item{
                text-align: center;
                width: 100%;
                margin-bottom: 30px;
                a.nav-link{
                    color: black;
                    transition: all 0.2s ease-in-out;
                    width: fit-content;
                    margin-inline: auto;
                    border-bottom: 4px solid transparent;
                    &.show{
                        border-bottom: 4px solid black;
                    }
                    &:hover{
                        color: var(--bs-link-hover-color);
                        border-bottom: 4px solid var(--bs-link-hover-color);
                    }
                }
                &.dropdown{
                    transition: all 0.2s ease-in-out;
                    // &:has(.dropdown-toggle.show){ background-color: #dddddd; }
                    ul.dropdown-menu.link-item-card-container{
                        transition: all 1.0s ease-in-out;
                        // border-bottom: 10px solid transparent;
                        // border-right:  10px solid transparent;
                        // border-left:   10px solid transparent;
                        // &.show{
                        //     border-bottom: 10px solid #dddddd !important;
                        //     border-right:  10px solid #dddddd !important;
                        //     border-left:   10px solid #dddddd !important;
                        // }
                        transition: all 0.2s ease-in-out;
                        li.dropdown-item{
                            &:hover{
                                background: transparent;
                            }
                            &:focus{
                                background: transparent;
                            }
                            a.card{
                                transition: all 0.2s ease-in-out;
                                text-decoration: none;
                                &:hover{
                                    div.card-body{
                                        h6.card-title{
                                            color: var(--bs-link-hover-color);
                                        }
                                    }
                                }
                                div.card-body{
                                    h6.card-title{
                                        font-size: 0.8rem;
                                        text-align: center;
                                        color: black;
                                    }
                                    p.card-text{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




// ███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████
// Mobile menu (≤575px)

@media (max-width: 575px) {
	header#header > nav#navbar-main {
		display: flex;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		justify-content: space-between;
		// flex-wrap: nowrap;
		align-items: center;
	}
	header#header > nav#navbar-main a.navbar-brand {
		display: inline-block;
		position: block;
		left: 0px;
		flex-basis: calc(100% - 50px - 20px);
		flex-shrink: 1;
	}
	header#header > nav#navbar-main a.navbar-brand img{
		height: auto;
	}
	header#header > nav#navbar-main >  button.navbar-toggler {
		flex-shrink: 0;
		flex-grow:   0;
		flex-basis: 50px;
		display: inline-block;
		left: 0px;
		right: 0px;
		top: 0px;
	}
}