@media (max-width:  1199px){
    header#header nav#navbar-main ul.nav.navbar-nav.container[container-type="desktop"]  {display: none;}
    header#header nav#navbar-main ul.nav.navbar-nav.container[container-type="mobile"]   {display: flex;}
}
@media (min-width:  1200px){
    header#header nav#navbar-main ul.nav.navbar-nav.container[container-type="desktop"]  {display: flex;}
    header#header nav#navbar-main ul.nav.navbar-nav.container[container-type="mobile"]   {display: none;}
}

// ███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████
// Desktop Menu (≥1200px)
@media (min-width:1200px){
    header#header nav#navbar-main {
        display: flex;
        flex-direction: column;
        background: white;
        // The main navigation bar below the logo
        .navbar-collapse {
            background: $header-nav-background;
            ul.navbar-nav {
                display: flex;
                width: 100vw;
                margin-inline: 0px;
                padding-left:  calc(var(--bs-gutter-x) * .5);
                padding-right: calc(var(--bs-gutter-x) * .5);
                li.nav-item {
                    list-style: none;
                    margin-right:  $header-hori-margin;
                    margin-top:    $header-vert-margin;
                    margin-bottom: $header-vert-margin;
                    a{
                        color: $header-nav-foreground;
                        text-decoration: none;
                        text-align: left;
                    }
                    a.nav-link--.is-active::before {
                        display: none !important;
                    }
                }
            }
        }
        // The main logo below the navigation bar
        .navbar-brand{
            width: 100vw;
            margin-inline: 0px;
            padding-inline: calc(100% - $page-hori-width);
            margin-bottom: 10px;
        }
    }
}
@media (min-width:1200px){
    header#header nav.menu--main {
        ul.clearfix.nav.navbar-nav.container   { z-index: 999; }
        ul.clearfix.nav.navbar-nav.container * { z-index: 999; }
        ul.navbar-nav {
            &::before {
                height: 100%;
                width:  100vw;
                position: absolute;
                display: block;
                background: $header-nav-background;
                content: "";
                font-size: 25px;
                z-index: 1;
            }
            position: relative;
            li.nav-item{
                a.nav-link {
                    transition: all 0.2s ease-in-out;
                    box-sizing: border-box;
                    border-bottom:   3px solid transparent;
                }
                &:hover > a.nav-link, a.nav-link:hover {
                    border-bottom:   3px solid $header-nav-foreground !important;
                }
                &:first-of-type > a{
                    padding-inline: 0px;
                }
            }
            .card-body.link-item-card-body > .link-item-card-body-title, .card-body.link-item-card-body > .link-item-card-body-text {
                transition: all 0.15s ease-in-out;
            }
            .card-body.link-item-card-body:hover > .link-item-card-body-title, .card-body.link-item-card-body:hover > .link-item-card-body-text {
                color: #adadad !important;
            }
            .card-body.link-item-card-body > .link-item-card-body-title:hover, .card-body.link-item-card-body > .link-item-card-body-text:hover {
                color: $header-nav-foreground;
            }
        }
        a.dropdown-toggle:hover + ul.dropdown-menu.link-item-card-container, ul.dropdown-menu.link-item-card-container:hover{
            display: block;
            transition-delay: display 0.8s ease-in-out;
            position: absolute;
            top: 43px;
            width: 100vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            background: $header-nav-background;
            padding-bottom: 20px;
            padding-top:    35px;
            li.dropdown-item{
                flex-basis:     30%;
                padding-inline: 0px;
                padding-block:  0px;
                margin-right: 30px;
                margin-bottom: 30px;
                .link-item-card{
                    width: 100%;
                    background: $header-nav-background;
                    div.link-item-card-body{
                        color: $header-nav-foreground;
                        padding-inline: 0px;
                        padding-block:  0px;
                    }
                }
            }
            @media (min-width:1200px) and (max-width:1399px) { left:calc( (100vw - 1116px) / 2 * (-1)); padding-inline:calc( (100vw - 1116px) / 2); }
            @media (min-width:1400px) {                        left:calc( (100vw - 1296px) / 2 * (-1)); padding-inline:calc( (100vw - 1296px) / 2); }
        }
    }
}
@media (min-width:1200px) and (max-width:1399px) { header#header nav#navbar-main .navbar-brand{ padding-inline:calc( (100% - 1116px) / 2); }}
@media (min-width:1400px) {                        header#header nav#navbar-main .navbar-brand{ padding-inline:calc( (100% - 1296px) / 2); }}
@media (min-width:1200px) and (max-width:1399px) { header#header nav.menu--main ul.navbar-nav::before{ left:calc( (100vw - 1116px) / 2 * (-1)  + 12px);}}
@media (min-width:1400px) {                        header#header nav.menu--main ul.navbar-nav::before{ left:calc( (100vw - 1296px) / 2 * (-1)  + 12px);}}




// ███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████
// Mobile menu (≥576px)
@media (max-width:  1199px)  and (min-width: 992px)  { button.navbar-toggler {right: calc((100vw - 934px) / 2);} }
@media (max-width:   991px)  and (min-width: 768px)  { button.navbar-toggler {right: calc((100vw - 694px) / 2);} }
@media (max-width:   767px)  and (min-width: 576px)  { button.navbar-toggler {right: calc((100vw - 514px) / 2);} }
@media (max-width:   575px)                          { button.navbar-toggler {right: 12px;}                      }
@media (max-width:  1199px)  and (min-width: 992px)  { header#header > nav#navbar-main > a.navbar-brand {left: calc((100vw - 934px) / 2);} }
@media (max-width:   991px)  and (min-width: 768px)  { header#header > nav#navbar-main > a.navbar-brand {left: calc((100vw - 694px) / 2);} }
@media (max-width:   767px)  and (min-width: 576px)  { header#header > nav#navbar-main > a.navbar-brand {left: calc((100vw - 514px) / 2);} }
@media (max-width:   575px)                          { header#header > nav#navbar-main > a.navbar-brand {left: 12px;}                      }
@media (max-width:  1199px)  and (min-width: 992px)  { header#header > nav#navbar-main ul.navbar-nav.container {width: 934px; left: calc( (100vw - 934px) / 2 * (+1));} }
@media (max-width:   991px)  and (min-width: 768px)  { header#header > nav#navbar-main ul.navbar-nav.container {width: 694px; left: calc( (100vw - 694px) / 2 * (+1));} }
@media (max-width:   767px)  and (min-width: 576px)  { header#header > nav#navbar-main ul.navbar-nav.container {width: 514px; left: calc( (100vw - 514px) / 2 * (+1));} }
@media (max-width:   575px)                          { header#header > nav#navbar-main ul.navbar-nav.container {width: 100%;  left: 12px;}                              }
@media (max-width:  1199px) {
    // Hide page content and footer, when the menu gets expanded
    header#header:has(div.navbar-collapse.collapse.show) + div#main-wrapper {
        display: none;
    }
    // Hide page content and footer, when the menu gets expanded
    header#header:has(div.navbar-collapse.collapse.show) + div#main-wrapper + footer.site-footer {
        display: none;
    }
}
@media (max-width:  1199px) {
    header#header > nav#navbar-main{
        padding-top: 30px;
        padding-bottom: 20px;
        background: none;
        // Logo act as a link
        a.navbar-brand{
            position: relative;
            img{ height: 90px; width:  auto;}
        }
        // Toggler button
        button.navbar-toggler {
            border-radius: 0px;
            border-color: transparent;
            position: relative;
            top: 20px;
            padding-inline: 0px;
            &:focus{ box-shadow: none; }
            span.navbar-toggler-icon {
                height: 50px;
                width:  50px;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%282, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }
        }
    }
    header#header > nav#navbar-main div.navbar-collapse {
        ul.clearfix.nav.navbar-nav.container {
            position: relative;
            top: 0px;
            height: 100vh;
            padding: 0px;
            margin-right: 0px;
            margin-left: 0px;
            padding-top: 50px;
            li.nav-item{
                text-align: center;
                width: 100%;
                margin-bottom: 30px;
                a.nav-link{
                    color: black;
                    transition: all 0.2s ease-in-out;
                    width: fit-content;
                    margin-inline: auto;
                    border-bottom: 4px solid transparent;
                    &.show{
                        border-bottom: 4px solid black;
                    }
                    &:hover{
                        color: var(--bs-link-hover-color);
                        border-bottom: 4px solid var(--bs-link-hover-color);
                    }
                }
                &.dropdown{
                    transition: all 0.2s ease-in-out;
                    // &:has(.dropdown-toggle.show){ background-color: #dddddd; }
                    ul.dropdown-menu.link-item-card-container{
                        transition: all 1.0s ease-in-out;
                        // border-bottom: 10px solid transparent;
                        // border-right:  10px solid transparent;
                        // border-left:   10px solid transparent;
                        // &.show{
                        //     border-bottom: 10px solid #dddddd !important;
                        //     border-right:  10px solid #dddddd !important;
                        //     border-left:   10px solid #dddddd !important;
                        // }
                        transition: all 0.2s ease-in-out;
                        li.dropdown-item{
                            &:hover{
                                background: transparent;
                            }
                            &:focus{
                                background: transparent;
                            }
                            a.card{
                                transition: all 0.2s ease-in-out;
                                text-decoration: none;
                                &:hover{
                                    div.card-body{
                                        h6.card-title{
                                            color: var(--bs-link-hover-color);
                                        }
                                    }
                                }
                                div.card-body{
                                    h6.card-title{
                                        font-size: 0.8rem;
                                        text-align: center;
                                        color: black;
                                    }
                                    p.card-text{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




// ███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████
// Mobile menu (≤575px)

@media (max-width: 575px) {
	header#header > nav#navbar-main {
		display: flex;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		justify-content: space-between;
		// flex-wrap: nowrap;
		align-items: center;
	}
	header#header > nav#navbar-main a.navbar-brand {
		display: inline-block;
		position: block;
		left: 0px;
		flex-basis: calc(100% - 50px - 20px);
		flex-shrink: 1;
	}
	header#header > nav#navbar-main a.navbar-brand img{
		height: auto;
	}
	header#header > nav#navbar-main >  button.navbar-toggler {
		flex-shrink: 0;
		flex-grow:   0;
		flex-basis: 50px;
		display: inline-block;
		left: 0px;
		right: 0px;
		top: 0px;
	}
}


// ███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████
// Search Menu - Hide/show
// # div#block-igis-searchform{height: 0px;overflow: hidden;}
// # div#block-igis-searchform:focus{height: unset;overflow: visible;}
// # div#block-igis-searchform:focus-within{ height: unset; overflow: visible; }

div#block-igis-searchform{
	height: 0px;
	overflow: hidden;
    transition: height 0.2s ease-in-out;
}
div#block-igis-searchform.show{
	height: 70px;
    transition: height 0.2s ease-in-out;
    // animation: show-search-input 0.5s ease-in-out;
}
// @keyframes show-search-input {
//     0%   { height:  0px; overflow: hidden;}
//     50%  { height: 70px; overflow: hidden;}
//     100% { height: 70px; overflow: hidden;}
// }


// ███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████
// Search Menu - General Styling
header#header nav#navbar-main .collapse.navbar-collapse.justify-content-end { flex-direction: column; }
header#header nav#navbar-main .collapse.navbar-collapse.justify-content-end >.form-inline.navbar-form.justify-content-end { width: 100%; }
@media (min-width:1200px) and (max-width:1399px) { div#block-igis-searchform::before{ left:calc( (100vw - 1116px) / 2 * (-1)  + 24px);}}
@media (min-width:1400px) {                        div#block-igis-searchform::before{ left:calc( (100vw - 1296px) / 2 * (-1)  + 24px);}}
div#block-igis-searchform {
    width: 100%;
    &::before {
        height: 100%;
        width:  100vw;
        position: absolute;
        display: block;
        background: $header-nav-search-background;
        content: "";
        font-size: 25px;
        z-index: 1;
    }
    .content.container-inline{
        width: 100%;
    }
    form#search-block-form{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        div.form-type-search{
            // max-width:     820px;
            // width:         100%;
            flex-grow:     1;
            margin-top:    10px !important;
            margin-bottom: 10px !important;
            margin-right:  15px;
            z-index:       3;
            input{
                border-radius: 0px;
                border: 1px solid #ced4da;
                transition: all 0.2s ease-in-out;
                &:focus{
                    background: #ced4da;
                    border: 1px solid black;
                }
            }
        }
        div.form-actions{
            flex-basis:    100px;
            flex-grow:     0;
            margin-top:    10px !important;
            margin-bottom: 10px !important;
            margin-right:  15px;
            z-index:       3;
            input{
                border-radius: 0px;
                // position: absolute;
                width: 90px;
                top: 15px;
                transition: all 0.2s ease-in-out;
                background: white;
                color: black;
                border: 1px solid #ced4da;
                &:hover{
                    border: 1px solid black;
                    background: #ced4da;
                }
            }
        }
    }
}



// ███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████
// Search Bar for mobile
@media (max-width: 1199px) {
    #block-igis-searchform {
        position: absolute;
        top: 140px;
    }
    #block-igis-main-navigation{
        margin-top: 60px;
    }
}



// ███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████
// Fixing search component missing background in mobile

@media (min-width:1200px){
    div#block-igis-searchform {
        overflow: hidden;
    }
    #block-igis-main-navigation + div{
        position: relative;
    }
    #block-igis-main-navigation + div::before {
        height: 100%;
        width:  100vw;
        position: absolute;
        display: block;
        background: $header-nav-search-background;
        content: "";
        font-size: 25px;
        z-index: 1;
        background: #255257;
    }
}
@media (min-width:1200px) and (max-width:1399px) { #block-igis-main-navigation + div::before{ left: calc((100vw - 1116px) / 2 * (-1) + 12px);}}
@media (min-width:1400px) {                        #block-igis-main-navigation + div::before{ left: calc((100vw - 1296px) / 2 * (-1) + 12px);}}



// ███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████
// Search bar mobile animation
@media (max-width:1199px){
    nav#block-igis-main-navigation{
        margin-top: 40px;
        transition: all 0.2s ease-in-out;
    }
    nav#block-igis-main-navigation:has(+ div #block-igis-searchform.show){
        margin-top: 100px
    }
    #block-igis-searchform{
        left: 0px;
        padding: 0px;
    }

}

