div.paragraph.paragraph--type--table-of-content-toc- > ul#paragraph-toc{
	--toc-color-border:              black;
	--toc-color-background:          #F1F1F1;
	--toc-color-default-foreground:  black;
	--toc-color-hover-foreground:    #35737A ;
	border-left:                     13px solid var(--toc-color-border);
	border-right:                     2px solid var(--toc-color-border);
	border-bottom:                    2px solid var(--toc-color-border);
	border-top:                       2px solid var(--toc-color-border);
	background:                      var(--toc-color-background);
	padding-block:                   15px;
    li {
        a{
            color: var(--toc-color-default-foreground);
            text-decoration: none;
            &:hover{
                color: var(--toc-color-hover-foreground);
                text-decoration: underline;
            }
        }
    }
}

/* Emphasise the first level of toc  */
/* div.paragraph.paragraph--type--table-of-content-toc- > ul#paragraph-toc > li { padding-bottom: 20px; } */
/* div.paragraph.paragraph--type--table-of-content-toc- > ul#paragraph-toc > li > a { font-size: 1.2em;font-weight: bold;} */