.paragraph--type--read-more .read-more-summary {
    font-size: 14px;
    line-height: 1.5;
    div.collapse:not(.show) {
        line-height: 1.5;
        height: calc(var(--read-moreshow-lines) * 1.5em) !important;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: var(--read-moreshow-lines);
        -webkit-box-orient: vertical;
    }
    div.collapsing {
        line-height: 1.5;
        min-height: calc(var(--read-moreshow-lines) * 1.5em) !important;
    }
    a.collapsed:after {
        content: '+ Read More';
    }
    a:not(.collapsed):after {
        content: '- Read Less';
    }
}

.read-more-summary {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.read-more-summary a {
    margin-top: 10px;
	text-align: right;
	color: white;
	background: var(--bs-link-color);
	border: var(--bs-border-width) var(--bs-border-style) var(--bs-link-color);
	border-radius: var(--bs-border-radius);
	padding-block:  5px;
	padding-inline: 10px;
	width:fit-content;
	text-decoration: none;
}

.read-more-summary a:hover {
	background: var(--bs-link-hover-color);
	border: var(--bs-border-width) var(--bs-border-style) var(--bs-link-hover-color);
}



.read-more-summary .collapse.show+.fade-overlay{
	height:      0px;
	margin-top:  0px;
}

.read-more-summary .collapse:not(.show)+.fade-overlay, .read-more-summary .collapsing+.fade-overlay{
	height:      60px;
	margin-top: -60px;
	width:       100%;
	background-image: linear-gradient(to bottom, transparent, white);
	transition: height 0.2s ease-in-out, margin-top 0.2s ease-in-out;
}