$banner-padding-inline: 100px;
$banner-padding-block:  30px;
$banner-body-lines: 6;


.carousel-item > .background-layer{
	padding-inline: $banner-padding-inline;
	padding-block:  $banner-padding-block;
    background:     var(--bs-primary);
    color:          var(--bb-primary-text);
}
.carousel-item .banner-body{
    overflow: hidden;
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: $banner-body-lines;
    -webkit-box-orient: vertical;
    margin: 20px auto;
}


.carousel-control-next, .carousel-control-prev{
    width: 5%;
}
