@media (min-width:  992px){
    .paragraph--type--three-column-cards.desktop{ display: block; }
    .paragraph--type--three-column-cards.mobile { display: none;  }
}
@media (max-width:  991px){
    .paragraph--type--three-column-cards.desktop{ display: none;  }
    .paragraph--type--three-column-cards.mobile { display: block; }
}

// █████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████
// Desktop
.paragraph--type--three-column-cards.desktop .cards-background-backdrop                     { background: var(--three_column_cards_bgbg);}
.paragraph--type--three-column-cards.desktop .cards-columns-container .cards-column-1 .card { background: var(--three_column_cards_bg1); }
.paragraph--type--three-column-cards.desktop .cards-columns-container .cards-column-2 .card { background: var(--three_column_cards_bg2); }
.paragraph--type--three-column-cards.desktop .cards-columns-container .cards-column-3 .card { background: var(--three_column_cards_bg3); }
.paragraph--type--three-column-cards.desktop {
    padding-left:  0px;
    padding-right: 0px;
    .cards-columns-container{
        padding-top:    30px;
        padding-bottom: 30px;
        .cards-column .card {
            border-radius: 3px;
            border: none;
            height: 100%;
            .card-body {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            .card-text {
                flex-grow: 1;
                margin-bottom: 20px;
            }
            .card-link {
                flex-grow: 0;
                border-radius: 3px;
                background: var(--bs-link-color);
                border: 1px solid var(--bs-link-color);
                transition: border 0.1s ease-in-out, background 0.1s ease-in-out;
            }
            .card-link:hover {
                background: var(--bs-link-hover-color);
                border: 1px solid var(--bs-link-hover-color);
            }
        }
    }
}
.row.cards-columns-container {
    background: var(--three_column_cards_bgbg);
	padding-left: calc((50% - 50vw) * (-1));
	margin-left:  calc((50% - 50vw) * (+1));
	padding-right: calc((50% - 50vw) * (-1));
	margin-right:  calc((50% - 50vw) * (+1));
}

// █████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████
// Mobile

.paragraph--type--three-column-cards.mobile .carousel-inner-1.carousel-item .card{background: var(--three_column_cards_bg1);}
.paragraph--type--three-column-cards.mobile .carousel-inner-2.carousel-item .card{background: var(--three_column_cards_bg2);}
.paragraph--type--three-column-cards.mobile .carousel-inner-3.carousel-item .card{background: var(--three_column_cards_bg3);}
.paragraph--type--three-column-cards.mobile {
    .carousel-item .card{
        border-radius: 3px;
        border: none;
        padding-inline: 30px;
        padding-block:  10px;
    }
    .card-link {
        border-radius: 3px;
        background: var(--bs-link-color);
        border: 1px solid var(--bs-link-color);
        transition: border 0.1s ease-in-out, background 0.1s ease-in-out;
    }
    .card-link:hover {
        background: var(--bs-link-hover-color);
        border: 1px solid var(--bs-link-hover-color);
    }
    .carousel-item .card{
        display: flex;
        flex-direction: column;
    }
    .carousel-item .card .card-text{
        line-height: 1.5em;
        height: calc(1.5em * 3);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* for Webkit-based browsers like Chrome and Safari */
        -webkit-box-orient: vertical;
    }
}