/** @format */


$popup-default-background-color: var(--bs-link-color);
$popup-default-foreground-color: var(--bs-link-color);
$popup-hover-background-color:   var(--bs-link-hover-color);
$popup-hover-foreground-color:   var(--bs-link-hover-color);

.popup-container {
	border: 5px solid black !important;
	padding: 10px;
	border-radius: 10px;
	--popout-closed-height: auto;
	--popout-closed-width: 100%;
	max-width: 100%;
	width: var(--popout-closed-width);
	height: var(--popout-closed-height);
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.popup-container > button.btn-popup-trigger {
	flex-grow: 0;
	margin-bottom: 10px;
	width: min-content;
	align-self: flex-end;
}
.model-body-content-paragraph {
	/* margin-bottom: 20px; */
	max-height: 100%;
	overflow: hidden;
	flex-shrink: 0;
}
.model-body-content-ckeditor {
	/* margin-bottom: 20px; */
	max-height: 100%;
	overflow: hidden;
	flex-shrink: 0;
}
.modal-dialog {
	width: 80%;
	max-width: 80%;
}
button.btn.btn-popup-trigger {
	color: white;
	background: black;
	border: 1px solid black;
	position: absolute;
	z-index: 3;
	font-size: 20px;
	padding-inline: 8px;
	padding-block: 0px;
	margin-right: -11px;
	margin-top: -11px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.popup-container table th,
td {
	white-space: nowrap;
}
.popup-container .modal-dialog .model-body-content-ckeditor {
	overflow-x: scroll;
}
.popup-container
	.model-body-content-ckeditor
	.clearfix.text-formatted
	> p
	> img {
	margin-right: 20px !important;
}

.popup-container .model-body-content-paragraph{
	height: 150px;
}

.popup-container .modal-header {
	border-bottom:      none;
	margin-bottom: -49.126px;
	z-index:             999;
}
.popup-container .modal-body{
	padding-inline: 50px;
	padding-block:  40px;
}
.popup-container .modal-dialog{
	margin-top:    30px;
	margin-bottom: 70px;
}

.popup-container .modal-dialog .modal-content{
	min-height:    calc(100vh - 100px);
}

div.popup-container button.btn.btn-popup-trigger{
	border-radius: 5px;
	margin-right: -15px;
	margin-top: -15px;
	transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
div.popup-container button.btn.btn-popup-trigger:hover{
	background:   $popup-hover-background-color;
	border-color: $popup-hover-background-color;
	box-shadow: -4px 4px 4px rgba(0,0,0,0.2)
}

div.popup-container{
	transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	border-radius: 5px;
}

div.popup-container:has(button.btn.btn-popup-trigger:hover){
	border-color: $popup-hover-background-color !important;
    box-shadow: -4px 4px 4px rgba(0,0,0,0.2)
}

.popup-container .model-body-content-paragraph{
	transition: filter 0.2s ease-in-out;
}

// .popup-container:has(button.btn.btn-popup-trigger:hover) .model-body-content-paragraph{
	// filter: drop-shadow(2px 2px 2px grey) grayscale(80%);
    // filter: saturate(0%) blue; background-color: blue;
    // filter: blur(3.0);
// }

.modal-body{
	overflow-x: scroll;
}

.popup-container{
    tbody{
        position: relative;
        &::after {
            content: " ";
            height: 100px;
            width:  100px;
            background: transparent;
            position: absolute;
            right: -60px;
        }
    }
}
